* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body>*{
    font-family: 'Times New Roman', Times, serif;
    font-weight:bold;
}

html, body{
    height: 100%;
}
/* Estilo general del body */
body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url(../img/Egurra.jfif);
}

/* Estilos del header */
header {
    background-image: url(../img/Egurra.jfif);
    display: flex;
    
    align-items: center;
    padding: 0.78616352201257861635220125786164% 1.5723270440251572327044025157233%;
    border: 0.07861635220125786163522012578616% solid black;
    width: 100%;
    clear: right;
    float: left;
    
}
.karroa{
    
    height: 85px;
    padding: 5.8616352201257861635220125786164%;
    margin-left: 20px;
    width: 100%;
    
}
.kontaktua{
    padding: 5.8616352201257861635220125786164%;
    width: 150%;
}

/* Estilo de las imágenes */

#argazkia2{
    height: 150px;
    border-radius: 90px; /* Esquinas redondeadas */
    border: 1px solid black;
}

/* Estilo del párrafo en el header */


/* Estilo del formulario */
header form {
    margin-left: 15.723270440251572327044025157233%;
    display: flex;
    align-items: center;
    width: 100%;
    
}

header input[type="text"] {
    padding: 1.5893081761006289308176100628931%;
    margin-right: 0.78616352201257861635220125786164%;
    border: 1px solid black;
    border-radius: 4px;
    width: 300px;
}

header input[type="submit"] {
    padding: 1.62893081761006289308176100628931% 2.62893081761006289308176100628931%;
    border: 1px solid #ccc;
    background-color: burlywood;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

header input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilos para el navbar */
nav {
    display: flex;
    margin-top: 0px;
    background-image: url(../img/egurra2.jfif);
    color: black; /* Color del texto */
    border: none; /* Sin borde */
    padding: 0.78616352201257861635220125786164% 0.39308176100628930817610062893082%; /* Espaciado interno */
    text-align: center; /* Centrar el texto */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Mostrar como bloque en línea */
    font-size: 16px; /* Tamaño de fuente */
   /* margin: 1.39308176100628930817610062893082% 0%; /* Margen */
    margin-bottom: 5px;
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    border-radius: 8px; /* Esquinas redondeadas */
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-weight:bold;
    
}

nav a {
    color: black;
    text-decoration: none;
    padding: 0.68616352201257861635220125786164% 1.0723270440251572327044025157233%;
    text-transform: uppercase;
    border : 1px solid black;
    margin: 0px 0.78616352201257861635220125786164%;
    background-color: burlywood;
    justify-content: space-between;
}

nav a:hover {
    background-color: #575757;
    border-radius: 10px;
}
main {
    
    width: 600px;
    margin-left: 15px;
    flex: 1;
}
main div{
    background-color: white;
    padding: 5px 15px;
    height: 100px;
}
main h2{
    border-bottom: 2px solid black;
    background-color: white;
}
main p{
    background-color: white;
}
main>*{
    margin-top: 20px;
    margin-left: 15px;
}
main {
    border-bottom: 2px solid black;
    width: 450px;
}

footer{
    background-color: #575757;
    clear: both;
    margin: 0.78616352201257861635220125786164% 0.78616352201257861635220125786164%;
    margin-top: 50px;
    width: auto;
    border: 1px solid black;
    position: relative;
    text-align: center;
}
footer img{
    height: 50px;
    margin-top: 50px;
    margin: none;
    margin-left: 0.78616352201257861635220125786164%;
}
.password{
    width: 80px;
}
@media (max-width: 768px){
    
    header form{
        display: none;
    }
    .kontaktua{
        width: 80px;
        
        height: 90px;
        margin-left: 120px;
    }
    .karroa{
        width: 80px;
        height: 75px;
        margin-left: 0px;
    }
    main {
        width: 400px;
    }
    
}