/* Reset de márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo general del body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url(img/Egurra.jfif);
}

/* Estilos del header */
header {
    background-image: url(img/Egurra.jfif);
    display: flex;
    
    align-items: center;
    padding: 10px 20px;
    border: 1px solid black;
    width: 1272px;
    clear: right;
    float: left;
    
}
.karroa{
    margin-left: 15px;
    height: 80px;

}

/* Estilo de las imágenes */

#argazkia2{
    height: 150px;
    border-radius: 90px; /* Esquinas redondeadas */
    border: 1px solid black;
}

/* Estilo del párrafo en el header */
header p {
     /* Color de fondo */
     background-color: black;
            color: white; /* Color del texto */
            border: none; /* Sin borde */
            padding: 5px 5px; /* Espaciado interno */
            text-align: center; /* Centrar el texto */
            text-decoration: none; /* Sin subrayado */
            display: inline-block; /* Mostrar como bloque en línea */
            font-size: 16px; /* Tamaño de fuente */
            margin: 4px 2px; /* Margen */
            cursor: pointer; /* Cambia el cursor al pasar por encima */
            border-radius: 8px; /* Esquinas redondeadas */
            border: 1px solid black;
            font-family: 'Times New Roman', Times, serif;
            font-weight:bold;
            margin-left: 250px;
            
            
}

/* Estilo del formulario */
header form {
    margin-left: 200px;
    display: flex;
    align-items: center;
}

header input[type="text"] {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 4px;
    width: 300px;
}

header input[type="submit"] {
    padding: 8px 15px;
    border: 1px solid #ccc;
    background-color: burlywood;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

header input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilos para el navbar */
nav {
    display: flex;
    margin-top: 100px;
    background-image: url(img/egurra2.jfif);
    color: black; /* Color del texto */
    border: none; /* Sin borde */
    padding: 10px 5px; /* Espaciado interno */
    text-align: center; /* Centrar el texto */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Mostrar como bloque en línea */
    font-size: 16px; /* Tamaño de fuente */
    margin: 5px 10px; /* Margen */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    border-radius: 8px; /* Esquinas redondeadas */
    width: 1200px;
    
}

nav a {
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid black;
    margin: 0px 10px;
    background-color: burlywood;
}

nav a:hover {
    background-color: #575757;
    border-radius: 10px;
}
main section{
    
     /* Cambia el cursor al pasar por encima */
   
    margin-left: 10px;
}
div{
    
    display: inline-block;
    margin: 10px 30px;
    
}
div img{
    border: 2px solid black;
    border-radius: 90px;
    cursor: pointer;
}
div p{
    font-family: 'Times New Roman', Times, serif;
    font-weight:bold;
    color: white;
    text-align: center;
    
}